<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    
    <connectionStrings>
        <add name = "cn" connectionString = "Data Source = EMANUEL-LAPTOP\SQLEXPRESS; Initial Catalog = CasaDeDiscuri;Integrated Security = True" />
    </connectionStrings>
    
    <!-- <appSettings> -->
    <!--     <add key="ParentTableName" value="Albume"/> -->
    <!--     <add key="ChildTableName" value="Melodii"/> -->
    <!--     <add key="ChildToParentID" value="AlbumID"/> -->
    <!--     <add key="ChildId" value="MelodieID"/> -->
    <!--     <add key="ChildNumberOfColumns" value="5"/> -->
    <!--     <add key="ChildColumnNames" value="Denumire, Durata, AlbumID, GenMuzicalID, PlayListID"/> -->
    <!--     <add key="ChildColumnTypes" value="string, int, int, int, int"/> -->
    <!--     <add key="ChildArr" value="@id, @D, @T, @A, @G, @P"/> -->
    <!--     <add key="ChildInsertQUERY" value="INSERT INTO Melodii(MelodieID, Denumire, Durata, AlbumID, GenMuzicalID, PlayListID)  -->
    <!--                                         VALUES (@id,@D,@T,@A,@G,@P);"/> -->
    <!--     <add key="ChildDeleteQUERY" value="Delete from Melodii where MelodieID = @id;"/> -->
    <!--     <add key="ChildUpdateQUERY" value="Update Melodii set Denumire = @D, Durata = @T, AlbumID = @A, GenMuzicalID = @G, PlayListID = @P  -->
    <!--                                         where MelodieID = @id;"/> -->
    <!-- </appSettings> -->

    <!-- <appSettings> -->
    <!--     <add key="ParentTableName" value="GenMuzical"/> -->
    <!--     <add key="ChildTableName" value="Melodii"/> -->
    <!--     <add key="ChildToParentID" value="GenMuzicalID"/> -->
    <!--     <add key="ChildId" value="MelodieID"/> -->
    <!--     <add key="ChildNumberOfColumns" value="5"/> -->
    <!--     <add key="ChildColumnNames" value="Denumire, Durata, AlbumID, GenMuzicalID, PlayListID"/> -->
    <!--     <add key="ChildColumnTypes" value="string, int, int, int, int"/> -->
    <!--     <add key="ChildArr" value="@id, @D, @T, @A, @G, @P"/> -->
    <!--     <add key="ChildInsertQUERY" value="INSERT INTO Melodii(MelodieID, Denumire, Durata, AlbumID, GenMuzicalID, PlayListID)  -->
    <!--                                         VALUES (@id,@D,@T,@A,@G,@P);"/> -->
    <!--     <add key="ChildDeleteQUERY" value="Delete from Melodii where MelodieID = @id;"/> -->
    <!--     <add key="ChildUpdateQUERY" value="Update Melodii set Denumire = @D, Durata = @T, AlbumID = @A, GenMuzicalID = @G, PlayListID = @P  -->
    <!--                                         where MelodieID = @id;"/> -->
    <!-- </appSettings> -->

    <!-- <appSettings> -->
    <!--     <add key="ParentTableName" value="PlayList"/> -->
    <!--     <add key="ChildTableName" value="Melodii"/> -->
    <!--     <add key="ChildToParentID" value="PlayListID"/> -->
    <!--     <add key="ChildId" value="MelodieID"/> -->
    <!--     <add key="ChildNumberOfColumns" value="5"/> -->
    <!--     <add key="ChildColumnNames" value="Denumire, Durata, AlbumID, GenMuzicalID, PlayListID"/> -->
    <!--     <add key="ChildColumnTypes" value="string, int, int, int, int"/> -->
    <!--     <add key="ChildArr" value="@id, @D, @T, @A, @G, @P"/> -->
    <!--     <add key="ChildInsertQUERY" value="INSERT INTO Melodii(MelodieID, Denumire, Durata, AlbumID, GenMuzicalID, PlayListID)  -->
    <!--                                         VALUES (@id,@D,@T,@A,@G,@P);"/> -->
    <!--     <add key="ChildDeleteQUERY" value="Delete from Melodii where MelodieID = @id;"/> -->
    <!--     <add key="ChildUpdateQUERY" value="Update Melodii set Denumire = @D, Durata = @T, AlbumID = @A, GenMuzicalID = @G, PlayListID = @P  -->
    <!--                                         where MelodieID = @id;"/> -->
    <!-- </appSettings> -->

    <appSettings>
        <add key="ParentTableName" value="Trupe"/>
        <add key="ChildTableName" value="Artisti"/>
        <add key="ChildToParentID" value="TrupaID"/>
        <add key="ChildId" value="ArtistID"/>
        <add key="ChildNumberOfColumns" value="4"/>
        <add key="ChildColumnNames" value="Nume, NumeDeScena, NumarAlbume, TrupaID"/>
        <add key="ChildColumnTypes" value="string, string, int, int"/>
        <add key="ChildArr" value="@id, @Nume, @NumeDeScena, @NumarAlbume, @TrupaID"/>
        <add key="ChildInsertQUERY" value="INSERT INTO Artisti(ArtistID, Nume, NumeDeScena, NumarAlbume, TrupaID) 
                                            VALUES (@id,@Nume,@NumeDeScena,@NumarAlbume,@TrupaID);"/>
        <add key="ChildDeleteQUERY" value="Delete from Artisti where ArtistID = @id;"/>
        <add key="ChildUpdateQUERY" value="Update Artisti set Nume = @Nume, NumeDeScena = @NumeDeScena, NumarAlbume = @NumarAlbume, TrupaID = @TrupaID 
                                            where ArtistID = @id;"/>
    </appSettings>
    
</configuration>